@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.menu-button-close, .menu-button-open {
  width: 1.5625rem;
  margin-left: 4.375%;
  border: none;
  padding: 3px;
  font-size: 1.5rem;
}
.menu-button-close:focus, .menu-button-open:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* HEADER */
/* Navigation Bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  box-shadow: 0 2px rgba(232, 226, 214, 0.5);
}

/* Hemburger button */
.menu-button-close {
  display: none;
}

/* Home link */
.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 31.25%;
}
.link img {
  width: 2.875rem;
  height: 2.875rem;
}
.link h1 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.395625rem;
  text-transform: uppercase;
  color: #011847;
  margin: 0;
  display: none;
}
.link h2 {
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #84bc22;
  margin: 0;
  display: none;
}

/* Navigation Menu */
.menu-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262a32;
  display: none;
}
.menu-container img {
  width: 84.6875%;
  height: auto;
  max-width: 350px;
  align-self: center;
  margin-bottom: 17px;
  border-radius: 7px;
}

/* First Level List */
.first-level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 15px 16px 0px 16px;
}
.first-level-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  color: #fff;
}
.first-level-item li {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.first-level-item i {
  font-size: 0.625rem;
}

/* Second Level List */
.second-level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  height: auto;
  margin: 0px 9px 16px;
}
.second-level-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
}
.second-level-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-level-item li {
  margin-right: 0.625rem;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.second-level-item i {
  font-size: 0.625rem;
}
.second-level-item:first-child {
  margin-bottom: 0.8125rem;
}

/* Third Level List */
.third-level {
  margin-left: 18px;
  margin-bottom: 16px;
  display: none;
}
.third-level ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 228px;
}
.third-level li {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media only screen and (min-width: 768px), (orientation: landscape) {
  /* HEADER */
  /* Home link */
  .link h1, .link h2 {
    display: block;
  }

  .link:hover {
    text-decoration: none;
  }
}

/*# sourceMappingURL=index.css.map */
