@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.menu-button-close, .menu-button-open {
  width: 1.5625rem;
  border: none;
  padding: 3px;
  font-size: 1.5rem;
}
.menu-button-close:focus, .menu-button-open:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* HEADER */
.menu-button {
  margin-left: 4.375%;
}
.menu-button-close {
  display: none;
}
.menu-button .btn-checkbox {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/*----------------- Home link -----------------*/
.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.8125rem;
}
.link img {
  width: 2.875rem;
  height: 2.875rem;
}
.link h1 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.395625rem;
  text-transform: uppercase;
  color: #011847;
  margin: 0;
  display: none;
}
.link h2 {
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #84bc22;
  margin: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .link h1, .link h2 {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .link:hover {
    text-decoration: none;
  }
}

#link {
  margin-left: 31.25%;
}
@media only screen and (min-width: 768px) {
  #link {
    margin: auto;
  }
}

/* Navigation Menu */
.menu-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262a32;
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu-container {
    display: block;
    background-color: white;
  }
}

/* First Level List */
.first-level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 15px 16px 0px 16px;
}
.first-level-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  color: #ffffff;
}
.first-level-item li {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.first-level-item i {
  font-size: 0.625rem;
}
@media only screen and (min-width: 768px) {
  .first-level-item i {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .first-level-item {
    display: flex;
    flex-direction: row;
    color: #45413e;
    padding: 0.625rem 0;
  }
  .first-level-item:first-child:hover ~ .second-level {
    display: block;
    position: absolute;
    width: 100%;
    top: 140px;
    right: -9px;
  }
  .first-level-item:first-child:hover {
    background-color: #262a32;
    border-bottom: 3px solid #84bc22;
  }
  .first-level-item #first-arrow {
    display: inline-flex;
  }
}
.first-level:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .first-level {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(38, 42, 50, 0.15);
    padding: 0;
    margin: 0;
  }
}

/* Second Level List */
.second-level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  height: auto;
  margin: 0px 9px 16px;
  /* Third Level List */
}
.second-level-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
}
.second-level-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-level-item li {
  margin-right: 0.625rem;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.second-level-item i {
  font-size: 0.625rem;
}
.second-level-item:first-child {
  margin-bottom: 0.8125rem;
}
.second-level-item:hover {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .second-level {
    background-color: #262a32;
    padding: 3.625rem 3.625rem 3.625rem 3.625rem;
  }
}
.second-level .third-level {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 18px;
  margin-top: 1rem;
  display: none;
}
.second-level .third-level ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 228px;
}
.second-level .third-level li {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.second-level img {
  width: 84.6875%;
  height: auto;
  max-width: 350px;
  margin-bottom: 1.0625rem;
  margin-top: 2.25rem;
  align-self: center;
  border-radius: 7px;
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
  height: auto;
}

.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px rgba(232, 226, 214, 0.5);
}

@media only screen and (min-width: 768px) {
  .menu-container > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/*# sourceMappingURL=index.css.map */
