/* Navigation Menu */

.menu-container {
    @include dimension(100%, auto);
    @include flexy(flex, column, space-between);
    background-color: $dark-gray;
    display: none;
    ul {
        @media only screen and #{$brk-med} {
            margin: auto;
        }
    }
    @media only screen and #{$brk-med} {
        display: block;
        background-color: white;
    }
}

/* First Level List */

.first-level {
    @include flexy(flex, column, space-between);
    @include dimension(100%, auto);
    box-sizing: border-box !important;
    padding: 15px 16px 0px 16px;
    &-item {
        box-sizing: border-box !important;
        @include dimension(100%, auto);
        @include flexy(flex, row, space-between, center);
        @for $i from 1 through 4 {
            padding-bottom: px-to-rem(15px);
        }
        color: $white;
        li {
            text-transform: uppercase;
            font-family: $main-font;
            font-weight: 700;
            font-size: px-to-rem(14px);
        }
        i {
            font-size: 0.625rem;
            @media only screen and #{$brk-med} {
                display: none;
            }
        }
        &:last-child {
            padding-bottom: px-to-rem(15px);
        }
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, space-around);
            box-sizing: border-box;
            color: $text-color-dk;
            padding-top: px-to-rem(14px);
            padding-bottom: px-to-rem(14px);
            &:first-child {
                li {
                    margin-right: -40px;
                }
            }
            &:hover,
            &:focus-within {
                background-color: $dark-gray;
                border-bottom: 3px solid $lime-color;
                color: $white;
            }
            &:first-child:hover ~ .second-level,
            &:first-child ~ .second-level:hover,
            &:first-child ~ .second-level:focus {
                display: block;
                position: absolute;
                width: 100%;
                top: px-to-rem(128px);
                right: px-to-rem(-9px);
            }
            #first-arrow {
                display: inline-flex;
            }
            &:last-child {
                padding-bottom: 14px;
            }
        }
        @media only screen and #{$brk-lg} {
            padding-top: px-to-rem(19px);
            padding-bottom: px-to-rem(30px);
            margin-top: px-to-rem(10px);
            &:last-child {
                padding-top: px-to-rem(19px);
                padding-bottom: px-to-rem(30px);
            }
            &:first-child:hover ~ .second-level,
            &:first-child ~ .second-level:hover,
            &:first-child ~ .second-level:focus {
                top: px-to-rem(78.2px);
            }
            &:first-child {
                justify-content: space-between;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
    @media only screen and #{$brk-med} {
        @include flexy(flex, row, space-around, flex-start);
        height: auto;
        margin: auto;
        padding: 0;
    }
    @media only screen and #{$brk-lg} {
        @include flexy(flex, row, space-between, flex-start);
        width: px-to-rem(416px);
        height: px-to-rem(78px);
    }
}

/* Second Level List */
.second-level {
    @include flexy(flex, column, space-between);
    display: none;
    height: auto;
    margin: 0px 9px 16px;
    &-items {
        @include flexy(flex, column, flex-start);
        color: $white;
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, space-between);
            padding: px-to-rem(15px) 4% px-to-rem(10px) 5%;
        }
    }
    &-item {
        @include flexy(flex, row, $al-i: center);
        li {
            margin-right: px-to-rem(10px);
            font-family: $main-font;
            font-size: 1rem;
            font-weight: 400;
            @media only screen and #{$brk-med} {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        i {
            font-size: 0.625rem;
            @media only screen and #{$brk-med} {
                display: none;
            }
        }
        &:hover {
            cursor: pointer;
        }
        &:first-child {
            margin-top: 0;
        }
        &-first {
            margin-bottom: px-to-rem(13px);
            @media only screen and #{$brk-med} {
                width: 60%;
                max-width: px-to-rem(551px);
            }
        }
        &-second {
            @include flexy(flex, column);
            @media only screen and #{$brk-med} {
                @include flexy(flex, row, space-between);
                width: 40%;
            }
        }
    }
    @media only screen and #{$brk-med} {
        background-color: $dark-gray;
    }
    img {
        @include dimension(px-to-perc(271px), auto, 350px);
        margin-bottom: px-to-rem(17px);
        margin-top: px-to-rem(36px);
        align-self: center;
        border-radius: 7px;
        object-fit: cover;
        @media only screen and #{$brk-med} {
            @include dimension(px-to-rem(150px), px-to-rem(150px));
        }
    }
}

/* Third Level List */
.third-level {
    @include flexy(flex, column, space-between);
    height: auto;
    margin-left: 18px;
    margin-top: px-to-rem(16px);
    display: none;
    ul {
        @include flexy(flex, column, space-between);
        height: auto;
        margin-bottom: px-to-rem(13px);
        &:last-child {
            margin-bottom: 0;
        }
        @media only screen and #{$brk-med} {
            margin-bottom: 0;
            margin-right: 10%;
        }
    }
    li {
        color: #fff;
        font-family: $main-font;
        font-weight: 400;
        line-height: px-to-rem(31px);
        &:first-child, &:last-child {
            line-height: 1.2;
        }
        &:first-child {
            margin-bottom: px-to-rem(7px);
        }
        &:last-child {
            margin-top: px-to-rem(7px);
        }
    }
    a {
        text-decoration: none;
        color: $white;
    }
    .last {
        @media only screen and #{$brk-med} {
            margin-right: 0;
        }
    }
    @media only screen and #{$brk-med} {
        @include flexy(flex, row, space-between);
        margin-left: 0;
    }
}

.mobile-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $dark-gray;
    display: block;
    ul {
        @include flexy(flex, row, space-between, center);
        padding-top: px-to-rem(19px);
        padding-bottom: px-to-rem(13px);
        margin: auto;
        width: px-to-perc(206px);
        @media only screen and #{$brk-med} {
            margin: auto;
            padding: 10px 0px;

        }
        @media only screen and #{$brk-lg} {
            width: px-to-rem(206px);
            padding: 0px;
            margin-bottom: 0px;
            margin-top: px-to-rem(24px);
        }
    }
    li {
        color: $white;
        &:hover {
            cursor: pointer;
        }
        i {
            font-size: px-to-rem(24px);
            color: rgba($white, 0.5);
            &:hover {
                color: $lime-color;
            }
            @media only screen and #{$brk-med} {
                color: rgba($text-color-dk, 0.5);
                font-size: px-to-rem(23px)
            }
        }
    }
    @media only screen and #{$brk-med} {
        background-color: $white;
        position: relative;
        order: 2;
        flex-shrink: 2;
    }
    @media only screen and #{$brk-lg} {
        @include flexy(flex, row, center, flex-start);
        margin-right: px-to-rem(67px);
        margin-left: px-to-rem(88px);
    }
}

.preferences {
    display: none;
    ul {
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, space-around, center);
            text-transform: uppercase;
            padding-left: 10px;
            width: 100%;
        }
        @media only screen and #{$brk-lg} {
            align-items: flex-start;
            width: px-to-rem(115px);
            padding: 0;
            margin-top: px-to-rem(29px);
        }
        li {
            @media only screen and #{$brk-med} {
                color: rgba($text-color-dk, 0.5);
                font-size: px-to-rem(14px);
                font-weight: 600;
                padding: 0;;
            }
        }
    }
    @media only screen and #{$brk-med} {
        @include flexy(flex, row, space-around);
        width: px-to-perc(70px);
        order: 1;
    }
    @media only screen and #{$brk-lg} {
        margin-left: px-to-rem(46px);
    }
}