.popular-items {
    @include dimension(100%, auto);
    background-color: $dark-gray;
    &-wrapper {
        @include dimension(100%, auto);
        padding: px-to-rem(25px) px-to-perc(16px);
        h3 {
            position: relative;
            z-index: 1;
            overflow: hidden;
            color: $white;
            text-transform: capitalize;
            text-align: center;
            font-family: $main-font;
            font-size: px-to-rem(18px);
            font-weight: 700;
            background-color: $dark-gray;
            padding: px-to-rem(8px) px-to-rem(19px) px-to-rem(14px);
            margin-bottom: px-to-rem(7px);
            &::before{
                position: absolute;
                top: 45%;
                overflow: hidden;
                width: 40%;
                height: 3px;
                content: '\a0';
                background-color: rgba($white, 0.1);
                text-align: right;
                margin-left: px-to-perc(-160px);
            }
            &::after {
                position: absolute;
                top: 45%;
                overflow: hidden;
                width: 40%;
                height: 3px;
                content: '\a0';
                background-color: rgba($white, 0.1);
                text-align: left;
                margin-left: px-to-perc(30px);
            }
            @media only screen and #{$brk-med} {
                padding-bottom: 0px;
                padding-top: 0px;
                margin-bottom: px-to-rem(33px);
                &::before {
                    top: 50%;
                }
                &::after {
                    top: 50%;
                }
            }
            @media only screen and #{$brk-med} {
                &::before {
                    width: 45%;
                    margin-left: px-to-rem(-550px);
                }
                &::after {
                    width: 45%;
                    margin-left: px-to-rem(32px);
                }
            }
        }
        &-products {
            display: none;
            @media only screen and #{$brk-med} {
                @include flexy(flex, column, center);
                margin-bottom: px-to-rem(51px);
            }
            &-block:first-child {
                margin-bottom: px-to-rem(50px);
            }
            &-block {
                display: grid;
                grid-template-columns: px-to-rem(271px) px-to-rem(271px);
                grid-template-rows: px-to-rem(366px) px-to-rem(366px);
                justify-content: center;
                align-content: center;
                gap: px-to-rem(50px) px-to-rem(90px);
            }
            @media only screen and #{$brk-lg} {
                &-block:first-child {
                    margin-bottom: px-to-rem(29px);
                }
                &-block {
                    grid-template-columns: repeat(4, px-to-rem(271px));
                    grid-template-rows: px-to-rem(366px);
                    gap: px-to-rem(29px);
                } 
            }
        }
        &-item {
            img {
                @media only screen and #{$brk-med} {
                    object-fit: cover;
                }
            }
            &-overlay {
                @include flexy(flex, row, center, center);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
                border-radius: inherit;
                opacity: 0;
                visibility: hidden;
                transition: all 0.4s ease;
            }
            &:hover ~ &-overlay{
                opacity: 0.9;
                visibility: visible;
            }
        }
        @media only screen and #{$brk-med} {
            padding: px-to-rem(60px) px-to-perc(28px) px-to-rem(60px);
        }
        @media only screen and #{$brk-lg} {
            padding: px-to-rem(81px) px-to-rem(56px) px-to-rem(60px);
        }
    }
    &-carousel {
        &-wrapper {
            @include dimension(100%, auto);
            @media only screen and #{$brk-med} {
                display: none;
            }
        }
        &-container {
            @include dimension(100%, px-to-rem(409px));
        }
        &-inner {
            @include dimension(100%, px-to-rem(366px));
        }
        &-indicators {
            @include flexy(flex, row, space-between, center);
            width: px-to-rem(106px);
            margin: 0px auto;
            li {
                @include dimension(px-to-rem(9px), px-to-rem(9px));
                border-radius: 50%;
                border: 0px;
                &.active {
                    background: transparent;
                    border: 3px solid $white;
                }
            }
        }
    }
}

.card {
    outline: 0px;
    border: 0px;
    border-radius: 5px;
    img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        
    }
    &-body {
        @include flexy(flex, column, space-between, center);
        height: 106px;
        h6 {
            color: $text-color-dk;
            text-align: center;
            font-family: $main-font;
            font-size: px-to-rem(16px);
            margin-bottom: px-to-rem(17px);
            width: px-to-rem(200px);
        }
        p {
            color: $dark-blue-color;
            text-align: center;
            font-family: $main-font;
            font-size: px-to-rem(14px);
        }
    }
}

#load-more {
    display: none;
    @media only screen and #{$brk-med} {
        display: flex;
        position: relative;
        margin: auto;
        color: $white;
        text-transform: uppercase;
        font-family: $main-font;
        font-size: 14px;
        background-color: transparent;
        border: 2px solid #e8e2d6;
        border-radius: px-to-rem(25px);
        padding: px-to-rem(13px) px-to-perc(30px);
        &:hover {
            cursor: pointer;
        }
    }
    i {
        @media only screen and #{$brk-med} {
            position: absolute;
            right: px-to-perc(45px);
        }
    }
}

.addToCart, .addToWishlist {
    @include dimension(px-to-rem(91px), px-to-rem(91px));
    background-color: $white;
    border: 0px;
    border-radius: 50%;
    i {
        font-size: px-to-rem(31px);
    }
}

.addToCart {
    margin-right: px-to-rem(21px);
    color: $add-to-cart;
    &:hover {
        background-color: darken($white, 5%);
		box-shadow: 0 0 20px darken(#1cc167, 20%);
    }
}

.addToWishlist {
    color: $add-to-wishlist;
    &:hover {
        background-color: darken($white, 5%);
		box-shadow: 0 0 20px darken(#1cc167, 20%);
    }
}