.services {
    @include flexy(flex, row, center);
    @include dimension(100%, auto);
    background-color: $text-color-dk;
    color: $white;
    &-container {
        @include flexy(flex, column, center, center);
        @include dimension(100%, auto); 
        padding: px-to-rem(30px) px-to-perc(19px) px-to-rem(39px) px-to-perc(19px);
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, flex-start, center);
            padding: px-to-rem(30px) px-to-perc(10px) px-to-rem(30px);
            margin: 0;
        }
        @media only screen and #{$brk-lg} {
            padding: px-to-rem(52px) px-to-rem(95px) px-to-rem(61px) px-to-rem(63px);
        }
    }
    &-focus {
        @include flexy(flex, row, space-between, space-between);
        margin-bottom: px-to-rem(84px);
        width: px-to-perc(320px);
        max-width: 500px;
        img {
            @include dimension(px-to-rem(60px), px-to-rem(68px));
            align-self: flex-start;
            margin-left: px-to-rem(40px);
            margin-top: px-to-rem(10px);
            @media only screen and #{$brk-med} {
                margin: auto;
            }
            @media only screen and #{$brk-lg} {
                margin: px-to-rem(6px) px-to-rem(41px) 0px 0px;
            }
        }
        &-text {
            width: px-to-perc(140px);
            h5 {
                text-transform: uppercase;
                font-family: $main-font;
                font-size: px-to-rem(18px);
                margin-bottom: px-to-rem(20px);
            }
            p {
                color: $text-color-light;
                font-family: $main-font;
                font-size: px-to-rem(14px);
                hyphens: auto;
                margin-bottom: 0px;
                @media only screen and #{$brk-lg} {
                    hyphens: none;
                }
            }
            @media only screen and #{$brk-med} {
                margin: auto;
                width: px-to-rem(120px);
            }
            @media only screen and #{$brk-lg} {
                margin: 0px;
                width: px-to-rem(220px);
            }
        }
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, flex-start, center);
            margin: 0px;
        }
        @media only screen and #{$brk-lg} {
            @include flexy(flex, row, center, center);
            width: px-ro-rem(420px);
        }
    }
    &-method {
        @include flexy(flex, row, space-between, center);
        width: px-to-perc(320px);
        max-width: 500px;
        margin-bottom: px-to-rem(46px);
        img {
            margin-right: px-to-rem(30px);
            align-self: flex-start;
            order: 1;
            @media only screen and #{$brk-med} {
                margin: auto;
                order: 0;
            }
            @media only screen and #{$brk-lg} {
                margin: px-to-rem(6px) px-to-rem(36px) 0px 0px;
            }
        }
        &-text {
            width: px-to-perc(149px);
            h5 {
                text-transform: uppercase;
                font-family: $main-font;
                font-size: px-to-rem(18px);
                margin-bottom: px-to-rem(20px);
            }
            p {
                color: $text-color-light;
                font-family: $main-font;
                font-size: px-to-rem(14px);
                hyphens: auto;
                @media only screen and #{$brk-med} {
                    margin: 0px;
                }
                @media only screen and #{$brk-lg} {
                    hyphens: none;
                }
            }
            @media only screen and #{$brk-med} {
                margin: auto;
                width: px-to-rem(120px);
            }
            @media only screen and #{$brk-lg} {
                margin: 0px;
                width: px-to-rem(245px);
            }
        }
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, flex-start, center);
            margin: 0px;
        }
        @media only screen and #{$brk-lg} {
            @include flexy(flex, row, center, center);
            width: px-ro-rem(342px);
        }
    }
    &-knowledge {
        @include flexy(flex, row, space-between, center);
        width: px-to-perc(320px);
        max-width: 500px;
        img {
            margin-left: px-to-rem(45px);
            align-self: flex-start;
            order: 0;
            @media only screen and #{$brk-med} {
                margin: auto;
            }
            @media only screen and #{$brk-lg} {
                margin: px-to-rem(6px) px-to-rem(42px) 0px 0px;
            }
        }
        &-text {
            width: px-to-perc(140px);
            h5 {
                text-transform: uppercase;
                font-family: $main-font;
                font-size: px-to-rem(18px);
                margin-bottom: px-to-rem(20px);
            }
            p {
                color: $text-color-light;
                font-family: $main-font;
                font-size: px-to-rem(14px);
                hyphens: auto;
                margin: 0;
                @media only screen and #{$brk-lg} {
                    hyphens: none;
                }
            }
            @media only screen and #{$brk-med} {
                margin: auto;
                width: px-to-rem(140px);
            }
            @media only screen and #{$brk-lg} {
                margin: 0px;
                width: px-to-rem(250px);
            }
        }
        @media only screen and #{$brk-med} {
            @include flexy(flex, row, flex-start, center);
            margin: 0px;
        }
        @media only screen and #{$brk-lg} {
            @include flexy(flex, row, center, center);
            width: px-ro-rem(347px);
        }
    }
}