/* HEADER */
@import '../components/menu-button';
@import '../components/home-link';
@import '../components/nav-menu';

header {
    position: fixed;
    width: 100%;
}

/* Navigation Bar */
.nav-bar {
    @include dimension(100%, auto);
    .nav-menu {
        @include flexy(flex, row, flex-start);
        @media only screen and #{$brk-med} {
            border-top: 1px solid rgba($dark-gray, 0.05);
        }
    }
    @media only screen and #{$brk-lg} {
        @include flexy(flex, row, space-around, center);
        height: px-to-rem(78px);
    }
}

.nav-top {
    @include flexy(flex, row, flex-start, center);
    box-shadow: 0 2px $shadow-color;
    @media only screen and #{$brk-lg} {
        width: px-to-rem(145px);
    }
}

.menu-container > ul {
    @media only screen and #{$brk-med} {
        @include flexy(flex, row, space-around, center);
    }
}