@import '../components/first-carousel';
@import '../components/popular-items';
@import '../components/banner';
@import '../components/services';
@import '../components/featured-products';

.main-content {
    @include dimension(100%, auto);
    position: absolute;
    top: px-to-rem(67px);
    z-index: -1;
    padding-bottom: px-to-rem(57px);
    @media only screen and #{$brk-med} {
        top: px-to-rem(125px);
    }
    @media only screen and #{$brk-lg} {
        top: px-to-rem(67px);
    }
}

main {
    @include dimension(100%, auto);
    @media only screen and #{$brk-med} {
        top: px-to-rem(125px);
    }
    @media only screen and #{$brk-lg} {
        top: px-to-rem(78px);
    }
}