.page-not-found {
    @include dimension(100%, auto);
    background-color: $background-404;
}

.wrapper {
    &-principal {
        @include dimension(100%, auto);
    }
    &-secondary {
        @include flexy(flex, column, flex-start, center);
        padding: px-to-rem(20px) px-to-perc(15px);
    }
}

.header {
    &-content {
        @include flexy(flex, column, flex-start);
        text-align: center;
        h3 {
            color: $text-color-dk;
            font-family: $main-font;
            font-weight: 900;
            font-size: px-to-rem(48px);
        }
    }
    &-breadcrumb {
        font-size: px-to-rem(13px);
        font-family: $main-font;
        margin-bottom: px-to-rem(27px);
        ol {
            justify-content: center;
            padding: 0px;
            margin: 0px;
        }
        ol li:first-child {
            a {
                color: $lime-color;
            }
        }
        ol li:last-child {
            a {
                color: $text-color-dk;
            }
        }
    }
}

.main-404-content {
    @include flexy(flex, column, flex-start, center);
    &-title {
        p {
            color: $lime-color;
            font-family: $main-font;
            font-size: px-to-rem(70px);
            font-weight: 900;
            padding-top: px-to-rem(40px);
            padding-bottom: px-to-rem(40px);
        }
    }
    &-text {
        h6 {
            color: #000000;
            font-family: $main-font;
            font-weight: 900;
            margin: 0px;
            font-size: px-to-rem(18px);
            margin-bottom: px-to-rem(20px);
        }
        &-paragraph {
            color: #555555;
            font-family: $main-font;
            font-size: px-to-rem(14px);
            margin-bottom: px-to-rem(35px);
        }
        
        a {
            color: $lime-color;
            font-family: $main-font;
            font-size: px-to-rem(14px);
        }
        
        & > p {
            padding-bottom: px-to-rem(30px);
        }

        &-search {
            @include flexy(flex, column, flex-start);
            position: relative;
            label {
                color: #000000;
                font-family: $main-font;
                font-size: px-to-rem(18px);
                font-weight: 900;
                margin-bottom: px-to-rem(15px);
            }
            input {
                color: $text-color-dk;
                // background-color: #1e1d22;
                text-transform: uppercase;
                font-family: $main-font;
                font-size: px-to-rem(14px);
                border: 2px solid #e8e2d6;
                border-radius: 25px;
                padding: px-to-rem(5px) px-to-rem(15px);
            }
            i {
                position: absolute;
                top: px-to-rem(45px);
                left: px-to-perc(295px);
                color: $text-color-dk;
                font-size: px-to-rem(14px);
            }
        }
    }
}