// Color variables
$lime-color: #84bc22;
$dark-blue-color: #011847;
$shadow-color: rgba(232, 226, 214, 0.5);

// Font variables
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

$base-font: Arial, Helvetica, sans-serif;;
$main-font: 'Lato', sans-serif;

// Maximum width variables
$max-width-mb: 320px;